<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>The Weather App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF2173821F0E3BA100A0F82C</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>BF2173961F0E3BA100A0F82C</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>BF2173A11F0E3BA100A0F82C</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
